.#*
*.o
*.out
*.gz
*.log
*.aux
*.bbl
*.blg
*.fff
*.ttt
*.aaa
*.csv
vignettes/cache
vignettes/*.nav
vignettes/*.snm
vignettes/*.toc
vignettes/*.vrb
vignettes/figure
vignettes/spider.xlsx
vignettes/trap.csv
vignettes/spider.csv
vignettes/_region_.tex
play.R
simulations/job1
simulations/play.R

.Rhistory
*-Ex.R

### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db