.#*
*.o
*.out
*.gz
*.log
*.aux
*.bbl
*.blg
*.fff
*.ttt
*.aaa
*.csv
*.txt
vignettes/cache
vignettes/*.nav
vignettes/*.snm
vignettes/*.toc
vignettes/*.vrb
vignettes/figure
vignettes/_region_.tex
vignettes/auto
play.R
simulations/job*
simulations/play.R
analysis
main_submit.pdf

.Rhistory
*-Ex.R

### OS Files ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
inst/doc
